<!DOCTYPE HTML PUBLIC "-//SoftQuad Software//DTD HoTMetaL PRO 6.0::19990601::extensions to HTML 4.0//EN" "hmpro6.dtd">
<HTML> 
  <HEAD> <BASE HREF="http://www.emsi04.org/"> 
	 <TITLE>Emergency Medical Service Institute: ED Status</TITLE> <SCRIPT LANGUAGE="JavaScript">
<!--
     NS4 = (document.layers);
     IE4 = (document.all);
    ver4 = (NS4 || IE4);
   isMac = (navigator.appVersion.indexOf("Mac") != -1);
  isMenu = (NS4 || (IE4 && !isMac));
  function popUp(){return};
  function popDown(){return};
  function startIt(){return};
  if (!ver4) event = null;

  if (isMenu) {
menuVersion = 3;
menuWidth = 120;
borWid = 2;
borSty = "ridge";
borCol = "#FF6633";
separator = 1;
separatorCol = "#000000";
fntFam = "Arial";
fntBold = true;
fntItal = true;
fntSiz = 10;
fntCol = "#FF6633";
overFnt = "#800080";
itemPad = 5;
backCol = "#3333FF";
overCol = "#87CEEB";
imgSrc = "tri.gif";
imgSiz = 10;

childOffset = 5;
childOverlap = 50;
perCentOver = null;

clickStart = false;
clickKill = false;
secondsVisible = 0.5;

keepHilite = false;
NSfontOver = false;

isFrames = false;
navFrLoc = "left";
mainFrName = "main";
  }
//-->
</SCRIPT> <SCRIPT LANGUAGE="JavaScript1.2">
<!--
  if (isMenu) {
  document.write("<SCRIPT LANGUAGE='JavaScript1.2' SRC='hierArrays.js'><\/SCRIPT>");
  document.write("<SCRIPT LANGUAGE='JavaScript1.2' SRC='hierMenus.js'><\/SCRIPT>");
  }
//-->
</SCRIPT> 
  </HEAD> 
  <BODY BGCOLOR="#CCCCCC" TEXT="#000000" LINK="#0000FF" VLINK="#660066"
	ALINK="#FF0000" BACKGROUND="SMDecors/place0H.gif" ONLOAD="startIt()"> 
	 <TABLE WIDTH="655" CELLPADDING="5"> 
		<TR> 
		  <TD ALIGN="RIGHT" WIDTH="125"><IMG SRC="graphics/logo_left.gif"
			 WIDTH="113" HEIGHT="99" ALIGN="RIGHT"> 
			 <P>&nbsp;</P> 
			 <P></P></TD> 
		  <TD ALIGN="LEFT" WIDTH="530"><IMG SRC="graphics/logo_right.gif"
			 ALIGN="LEFT" WIDTH="135" HEIGHT="100" BORDER="0"> 
			 <P>&nbsp;&nbsp;221 Penn Avenue, Suite 2500<BR>&nbsp;&nbsp;Pittsburgh,
				PA 15221-2166<BR>&nbsp;&nbsp;412/242-7322<BR>&nbsp;&nbsp;Fax:
				412/242-7434<BR>&nbsp;&nbsp;<A
				HREF="mailto:info@emsi04.org">info@emsi04.org</A></P></TD> 
		</TR> 
		<TR> 
		  <TD VALIGN="TOP" WIDTH="125"> 
			 <P ALIGN="LEFT"><A HREF="index.html"
				ONMOUSEOVER="if (HoverImage.src) {HoverImage.src='graphics/buttons/home_on.gif'}"
				ONMOUSEOUT="if (HoverImage.src) {HoverImage.src='graphics/buttons/home_off.gif'}"><IMG
				SRC="graphics/buttons/home_off.gif" ID="HoverImage" NAME="HoverImage"
				BORDER="0" WIDTH="120" HEIGHT="30" HSPACE="0" ALIGN="LEFT"></A> <BR
				CLEAR="ALL"><BR>
				<A HREF="conference.html"
				 ONMOUSEOVER="if (HoverImage2.src) {HoverImage2.src='graphics/buttons/conference_on.gif'}"
				 ONMOUSEOUT="if (HoverImage2.src) {HoverImage2.src='graphics/buttons/conference_off.gif'}"><IMG
				SRC="graphics/buttons/conference_off.gif" ID="HoverImage2" NAME="HoverImage2"
				BORDER="0" WIDTH="120" HEIGHT="30" HSPACE="0" ALIGN="LEFT"></A> <BR
				CLEAR="ALL"><BR><A HREF="classes.html"
				ONMOUSEOVER="if (HoverImage4.src) {HoverImage4.src='graphics/buttons/classes_on.gif'}"
				ONMOUSEOUT="if (HoverImage4.src) {HoverImage4.src='graphics/buttons/classes_off.gif'}"><IMG
				SRC="graphics/buttons/classes_off.gif" ID="HoverImage4" NAME="HoverImage4"
				BORDER="0" WIDTH="120" HEIGHT="30" HSPACE="0" ALIGN="LEFT"></A><BR
				CLEAR="ALL"><BR><A HREF="links.html" ONMOUSEOVER="popUp('elMenu1',event)"
				ONMOUSEOUT="popDown('elMenu1')"><IMG SRC="graphics/buttons/links_off.gif"
				ID="HoverImage3" NAME="HoverImage3" BORDER="0" WIDTH="120" HEIGHT="30"
				ONMOUSEOVER="if (HoverImage3.src) {HoverImage3.src='graphics/buttons/links_on.gif'}"
				ONMOUSEOUT="if (HoverImage3.src) {HoverImage3.src='graphics/buttons/links_off.gif'}"
				HSPACE="0" ALIGN="LEFT"></A> <BR CLEAR="ALL"><BR><A HREF="about.html"
				ONMOUSEOVER="if (HoverImage1.src) {HoverImage1.src='graphics/buttons/about_on.gif'}"
				ONMOUSEOUT="if (HoverImage1.src) {HoverImage1.src='graphics/buttons/about_off.gif'}"><IMG
				SRC="graphics/buttons/about_off.gif" ID="HoverImage1"
				NAME="HoverImage1" BORDER="0" WIDTH="120" HEIGHT="30" HSPACE="0"
				ALIGN="LEFT"></A> </P></TD> 
		  <TD VALIGN="TOP" WIDTH="530"><!-- This magic keyword, with the dollar sign, is required to get the
     templating system to fill in the table.  So no matter what you do,
     leave this keyword *somewhere* in the document.
-->
			 $TABLE </TD> 
		</TR> 
		<TR> 
		  <TD WIDTH="125"></TD> 
		  <TD WIDTH="530"> 
			 <P> <A HREF="index.html">Home </A> | <A
				HREF="conference.html">Conference Info </A>| <A HREF="classes.html">Course
				Schedule</A> | <A HREF="links.html">Links</A> | <A HREF="about.html">About
				EMSI</A></P></TD> 
		</TR> 
		<TR> 
		  <TD WIDTH="125"></TD> 
		  <TD WIDTH="530"> 
			 <P><FONT SIZE="-1">All material Copyright &copy; 2002 Emergency
				Medical Service Institute</FONT></P></TD> 
		</TR> 
	 </TABLE> </BODY>
</HTML>
