<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="unpublished.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!---->
		<add key="application_name" value="PACRAT"/>
    <add key="bouncer_email_address" value="bouncer@frompaper2web.com"/>
    <add key="clearance_forms_web_address" value="http://keepkidssafe.pa.gov/resources/clearances"/>
		<add key="email_blockquote_maxcol" value="60"/>
		<add key="failsafe_recipient_email_address" value="kevinandrewlipscomb@mailworks.org"/>
    		<add key="max_drivers_license_validity_years" value="12"/>
		<add key="membership_establishment_liaison" value="PACRAT_memestablia@frompaper2web.com"/>
    <add key="num_years_clearances_considered_valid" value="3"/>
    <add key="scratch_folder" value="scratch"/>
		<add key="sender_email_address" value="&quot;PACRAT&quot; &lt;PACRAT@frompaper2web.com&gt;"/>
		<add key="sponsor" value="Pennsylvania Health Department EMS Bureau"/>
		<add key="shared_secret_description" value="your attributes"/>
		<add key="sysadmin_sms_address" value="short-message-service@frompaper2web.com"/>
		<add key="temp_password_len" value="8"/>
		<!---->
		<!-- The following appSettings are likely host-dependent. -->
		<!---->
		<add key="host_domain_name" value="frompaper2web.com"/>
                <add key="runtime_root_fullspec" value="https://frompaper2web.com/PACRAT/"/>
		<add key="ssl_base_path" value="frompaper2web.com"/>
		<add key="virtual_directory_name" value="PACRAT"/>
		<add key="smtp_server" value="localhost"/>
	</appSettings>
	<system.web>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="8192"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5.1"/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms name="PACRAT" loginUrl="login.aspx" timeout="720"/>
		</authentication>
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="730"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maxPageStateFieldLength="512">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices/>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<handlers>
			<remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
		</handlers>
	</system.webServer>
</configuration>
