<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="unpublished.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!---->
    <add key="application_name" value="WebEMSOF_x"/>
    <add key="email_blockquote_maxcol" value="60"/>
    <add key="failsafe_recipient_email_address" value="kevinandrewlipscomb@mailworks.org"/>
    <add key="scratch_folder" value="scratch"/>
    <add key="sender_email_address" value="&quot;WebEMSOF_x&quot; &lt;webemsof_x@frompaper2web.com&gt;"/>
    <add key="state_report_cc_target" value="state-report-cc-recipient@frompaper2web.com"/>
    <add key="state_report_to_target" value="state-report-to-recipient@frompaper2web.com"/>
    <add key="sysadmin_sms_address" value="&quot;WebEMSOF&quot; &lt;short-message-service@frompaper2web.com&gt;"/>
    <add key="virtual_directory_name" value="WebEMSOF_x"/>
    <add key="year_of_first_serial_dashboard_data_point" value="2007"/>
    <!---->
    <!-- The following appSettings are likely host-dependent. -->
    <!---->
    <add key="host_domain_name" value="frompaper2web.com"/>
    <add key="smtp_server" value="localhost"/>
    <add key="ssl_base_path" value="frompaper2web.com"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5.1"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="WebEMSOF_x" loginUrl="login.aspx" timeout="720"/>
    </authentication>
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="730"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maxPageStateFieldLength="512">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
  </system.webServer>
</configuration>