<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConEdLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="unpublished.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!---->
    <add key="application_name" value="ConEdLink_d" />
    <add key="bouncer_email_address" value="bouncer@frompaper2web.com" />
    <add key="class_number_skip_list" value="13006079130050" />
    <add key="do_prevent_adding_practitioner_to_roster" value="true" />
    <add key="email_blockquote_maxcol" value="60" />
    <add key="failsafe_recipient_email_address" value="kevinandrewlipscomb@mailworks.org" />
    <add key="num_roster_due_days_after_coned_offering_end" value="10" />
    <add key="Request_ems_health_state_pa_us_RegistryRegistryActivepractitioners_Search_timeout_milliseconds" value="1200000" />
    <add key="scratch_folder" value="scratch" />
    <add key="sender_email_address" value="&quot;ConEdLink_d&quot; &lt;ConEdLink_d@frompaper2web.com&gt;" />
    <add key="sponsor_number_skip_list" value="020306" />
    <add key="state_report_cc_target" value="state-report-cc-recipient@frompaper2web.com" />
    <add key="state_report_to_target" value="state-report-to-recipient@frompaper2web.com" />
    <add key="sysadmin_sms_address" value="short-message-service@frompaper2web.com" />
    <add key="virtual_directory_name" value="ConEdLink" />
    <!---->
    <!-- The following appSettings are likely host-dependent. -->
    <!---->
    <add key="host_domain_name" value="frompaper2web.com" />
    <add key="runtime_root_fullspec" value="http://localhost/ConEdLink/" />
    <add key="smtp_server" value="localhost" />
    <add key="ssl_base_path" value="sslws038.alentus.com/frompaper2web" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!---->
      <!-- The following mailSettings are for the DEVELOPMENT environment ONLY.  Remember to grant write access to this directory to the aplication pool account (ie, "ASP.NET v4.0") -->
      <!---->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Queue" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name="ConEdLink_d" loginUrl="login.aspx" timeout="720" />
    </authentication>
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="60" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maxPageStateFieldLength="512">
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices />
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <ConEdLink.Properties.Settings>
      <setting name="ConEdLink_WebReference_emsams_EMSREGWebServices" serializeAs="String">
        <value>http://ems.health.state.pa.us/emsregwebservices/EMSREGWebServices.asmx</value>
      </setting>
    </ConEdLink.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPractitioner" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IConed" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- UAT:ems.health.beta.state.pa.us Prod:ems.health.state.pa.us -->
      <endpoint address="https://ems.health.state.pa.us/WcfWebServices/ConEd.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConed" contract="ServiceReference_emsams_ConEd.IConed" name="WSHttpBinding_IConed" />
      <endpoint address="https://ems.health.state.pa.us/WcfWebServices/Practitioner.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPractitioner" contract="ServiceReference_emsams_Practitioner.IPractitioner" name="WSHttpBinding_IPractitioner" />
    </client>
  </system.serviceModel>
</configuration>
